/* Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Header */
.navbar {
  background-color: rgb(0, 25, 50);
  color: whitesmoke;
  padding: 10px 40px;
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-link {
  font-size: 2rem;
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: whitesmoke;  
}

.nav-link:hover {
  color: goldenrod;
}

main {
  padding-top: 64px;
}

h1 {
  font-size: 3.5rem;
}

/* Main area */
.main-banner {
  text-align: center;
  padding: 20px 0;
  background-color: darkcyan;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.headshot {
  width: 200px;
  border-radius: 50%;
}

.skills {
  font-size: 2rem;
}

.title {
  font-size: 4rem;
  text-align: center;
  padding: 20px 0;
}

.about {
  background-color: darkcyan;
  color: whitesmoke;
  text-align: center;
  padding: 2rem 0;
}

.portfolio-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio-image {
  width: 26vw;
  margin: 2rem 0;
}

.column-container {
  display: flex;
  justify-content: center;
}

.text-column {
  font-size: 2rem;
  margin: 2rem;
  width: 33vw;
  text-align: left;
}

.button {
  padding: 1rem 1.5rem;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 40%);
  text-shadow: 2px 2px 4px rgb(0 0 0 / 40%);
  border-radius: 10px;
  /* To avoid user agent font override, we need: */
  font-family: inherit;
  /* To use .download-button on links, we need: */
  text-decoration: none;
}

.button:hover {
  color: black;
  background-color: whitesmoke;
}

.download-button {
  border: 3px solid whitesmoke;
  color: whitesmoke;
  background: none;
}

/* Form styles */
.form-row {
  width: 720px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.form-label {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.form-input {
  font-size: 2.5rem;
  border: none;
  border-bottom: 2px solid black; 
  padding: 0.5rem;
}

.send-button {
  align-self: flex-start;
  color: whitesmoke;
  border: none;
  background-color: darkcyan;
}

.send-button:hover {
  background-color: lightcyan;
}

/* footer */
.page-footer {
  display: flex;
  font-size: 2rem;
  margin: 4rem;
  justify-content: space-evenly;
}

.social-media-column {
  display: flex;
  flex-direction: column;
}

.social-media-icon {
  height: 4rem;
}

@media screen and (max-width: 768px) {
  .form-row {
    width: 80%;
  }
}
/* https://getbootstrap.com/docs/4.0/components/navbar/ */